<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表單處理及雙向資料</title>
</head>
<body>
    <div id ="app">
        <div class="container">
            <div class="title">
                <div class="input">{{name}}，{{sex}}性，年齡為{{age}}<br / >
                    {{favor.length ? '喜歡' : ''}}{{favor.join('、')}}----
                   {{member ? '已' :'未'}}成為會員。</div>
                <div class="menu">
                    <table>
                        <tr>
                            <td class="title"> 
                                姓名:
                            </td>
                            <td>
                                <input v-model="name"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">性別:</td>
                            <td>
                                <input type="radio" value="女" v-model="sex"/>女
                                <input type="radio" value="男" checked v-model="sex"/>男
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                年齡:
                            </td>
                            <td>
                                <select v-model="age">
                                    <option > 20歲以下 </option>
                                    <option selected > 20歲-30歲間 </option>
                                    <option> 30歲-40歲間 </option>
                                    <option> 40歲以上 </option>
                                </select>
                            </td>          
                        </tr>
                        <tr>
                            <td class="title">
                                興趣:
                            </td>
                            <td>
                                <input type="checkbox" value="打工" checked  v-model="favor"/> 打工
                                <input type="checkbox" value="電玩" checked v-model="favor"/> 電玩
                                <input type="checkbox" value="遊日本" checked v-model="favor"/> 遊日本
                            </td>
                        </tr>
                        <tr>
                            <td class="title">會員</td>
                            <td>
                                <input type="checkbox" v-model="member" />加入
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <script src="main.js"></script>  
</body>
</html>