html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

html {
  color: #34495e;
  background-color: #DDDDDD;
  font-family: '微軟正黑體';
}

#app {
  position: absolute;
  white-space: nowrap;
}

#app > .prev {
  text-indent: -100%;
  left: 0;
}

#app > .next {
  text-indent: 100%;
  right: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;

}

.logo {
  display: block;
  margin: 0 auto;
}

h1,
.input {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  background-color: #34495e;
  padding: 10px 0;
  border-radius: 10px;
  margin: 25px 0;
}

.input > * {
  font-size: 30px;
  height: 100%;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 5px 2.5%;
}

.input > select {
  box-sizing: border-box;
  width: 200px;
}

.input > input {
  box-sizing: border-box;
  width: 720px;
  border-top: 1px solid white;
}

.description {
  position: relative;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  font-size: 20px;
  color: #ffffff;
}

.menu {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.menu > table {
  margin: 0 auto;
}

.menu td {
  padding: 5px;
}

.menu td.title {
  letter-spacing: 5px;
}

.menu:after {
  content: '';
  display: block;
  clear: both;
}

.menuItem {
  float: left;
  width: 100%;
  margin: 5px 0;
}

.menuItem > * {
  float: left;
  height: 30px;
  line-height: 30px;
}

.menuItem > .number {
  width: 30px;
  color: #ffffff;
  background-color: #34495e;
  text-align: center;
  border-radius: 10px 0 0 10px;
}

.menuItem > .day {
  padding: 0 10px;
  color: #ffffff;
  background-color: #34495e;
  text-align: center;
  border-radius: 10px;
}

.menuItem > .type {
  font-size: 14px;
  letter-spacing: 5px;
  padding: 0 5px 0 10px;
  margin: 0 5px;
  color: #34495e;
  background-color: #f9d45a;
  text-align: center;
  border-radius: 10px;
}

.menuItem > .number + .type {
  margin: 0 10px 0 0;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}

.menuItem > .title {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
  color: #34495e;
  font-weight: 900;
}
.menuItem > .authortext {
  line-height: 30px;
  text-align: right;
  text-decoration: none;
  color: #34495e;
  font-weight: 800;

}



.menuItem.white {
  float: none;
  width: auto;
}

.menuItem.white > .type {
  margin: 0;
  border-radius: 0;
  font-size: 20px;
}

.menuItem.white > .title {
  background-color: #fff;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}

.arrow {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow.left:after {
  border-width: 10px 17.3px 10px 0;
  border-color: transparent #34495e transparent transparent;
}

.arrow.right:after {
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #34495e;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}
.btn_send {
  font-size: 30px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.btn_send:hover {
  background-color: #4CAF50;
  color: white;
}
.btn_cancle {
  font-size: 30px;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.btn_cancle:hover {
  background-color: #f44336;
  color: white;
}
.Button_SC{

  padding-top:25px;

}
.Button_ED {
  border: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  padding: 0px 10px;
  
  
}
.btn_edit {
  font-size: 15px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-family:"Microsoft JhengHei";
}

.btn_edit:hover {
  background-color: #4CAF50;
  color: white;
}
.btn_delete {
  font-size: 15px;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  font-family:"Microsoft JhengHei";
}

.btn_delete:hover {
  background-color: #f44336;
  color: white;
}
.mylinkButton {
	box-shadow:inset 7px 50px 0px 50px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:42px;
	border:12px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.mylinkButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.mylinkButton:active {
	position:relative;
	top:1px;
}
